.header__lang-link {
    color: #ffffff;
    margin-bottom: 0;
    margin-left: 18px;
    font-size: 24px;
    font-style: normal;
    line-height: 28px;
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}