.place__url-heading {
   width: 456px;
   height: 12px;
   margin-bottom: 12px;
   margin-left: 0;
   margin-right: 0;
   margin-top: 0%;
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 12px;
   /* identical to box height, or 100% */
   
   letter-spacing: 0.2em;
   
   color: #AAAAAA;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
   .place__url-heading {
      width: 352px;
   }
}

@media screen and (max-width: 767px) {
   .place__url-heading {
      width: 288px;
      
   }
}