.place__website {
  width: 456px;
  height: 46px;
  margin-left: 0;
  margin-bottom: 0;
  align-self: end;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__website {
    width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}