.lead__title {
    max-width: 720px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 132px;
    margin-right: 132px;
    font-style: normal;
    font-family: Inter;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__title {
        margin-left: 104px;
        margin-right: 104px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__title {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 40px;
        line-height: 44px;
    }
}