.place__link {
    width: 456px;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__link {
        width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__link {
        width: 288px;
    }
}