.header__lang-links {    
    margin-top: 18px;
    margin-bottom: 6px;
    height: 28px;
    width: 78px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .header__lang-links {
        width: 62px;
        height: 20px;
        margin-top: 14px;
        margin-bottom: 8px;
    }
}